@page
@model SmartPPC.Api.Pages.SolverPageModel
@{
    ViewData["Title"] = "Solver Page";
}

<h1>Solver Page</h1>

<form method="post">
    <div>
        <label for="PlanningHorizon">Planning Horizon:</label>
        <input type="number" id="PlanningHorizon" name="PlanningHorizon" value="@Model.ModelInputs.PlanningHorizon" />
    </div>
    <div>
        <label for="PeakHorizon">Peak Horizon:</label>
        <input type="number" id="PeakHorizon" name="PeakHorizon" value="@Model.ModelInputs.PeakHorizon" />
    </div>
    <div>
        <label for="PastHorizon">Past Horizon:</label>
        <input type="number" id="PastHorizon" name="PastHorizon" value="@Model.ModelInputs.PastHorizon" />
    </div>
    <div>
        <label for="StationDeclarations">Station Declarations:</label>
        <textarea id="StationDeclarations" name="StationDeclarations">@Model.StationDeclarationsJson</textarea>
    </div>
    <button type="submit">Solve</button>
</form>

@if (Model.Result != null)
{
    <h2>Result</h2>
    <table>
        <thead>
            <tr>
                <th>GENES</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var gene in @Model.Result.Solution.ToGenes())
                {
                    <td>
                        gene
                    </td>
                }
    </tbody>
    </table>
}
